

    <div class="card-content">
        <div class="content" *ngFor="let metadataControl of parent.controls; let i = index; let last = last">
            <fieldset [formGroup]="metadataControl">
                <legend>Metadata {{ i + 1 }}</legend>
                <div class="columns">
                    <div class="column is-2">
                        <app-fields-input-text
                            label="Nome da váriavel"
                            placeholder=""
                            formControlName="name">
                        </app-fields-input-text>
                    </div>
                    <div class="column is-5">
                        <app-fields-input-text
                            label="Título da váriavel"
                            placeholder=""
                            formControlName="label">
                        </app-fields-input-text>
                    </div>
                    <div class="column">
                        <app-fields-input-text
                            label="Descrição da váriavel"
                            placeholder=""
                            formControlName="description">
                        </app-fields-input-text>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-5">
                        <app-fields-input-text
                            label="Dica para ajudar no workflow"
                            placeholder=""
                            formControlName="hint">
                        </app-fields-input-text>
                    </div>
                    <div class="column is-3">
                        <label class="label">Tipo</label>
                        <select formControlName="type">
                            <option value="" default>Tipo do Componente</option>
                            <option *ngFor="let requestType of requestTypes" [value]="requestType">{{requestType}}</option>
                        </select>
                    </div>
                    <div class="column">
                        <label class="label">&nbsp;</label>
                        <div class="control is-expanded has-icons-left">
                            <label class="checkbox">
                                <input type="checkbox">
                                Campo obrigatório
                            </label>
                        </div>
                    </div>
                    <div class="column">
                        <label class="label">&nbsp;</label>
                        <button class="is-success button"
                                (click)="addField()"
                                *ngIf="last && metadataControl.get('name').value.length && metadataControl.get('label').value.length">
                            add
                        </button>
                        <span>&nbsp;</span>
                        <button class="is-danger button"
                                (click)="removeField(i)"
                                [ngClass]="{ 'is-invisible': parent.length === 1 }">
                            remove
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
