<fieldset>
    <legend>Medatada 1</legend>
    <div class="columns">
    <div class="column is-2">
        <label class="label">Nome</label>
        <div class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="Name">
            <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
            </span>
        </div>
    </div>
    <div class="column is-5">
        <label class="label">Label</label>
        <div class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="Name">
            <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
            </span>
        </div>
    </div>
    <div class="column">
        <label class="label">Descrição</label>
        <div class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="Name">
            <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
            </span>
        </div>
    </div>
    </div>
    <div class="columns">
        <div class="column is-5">
            <label class="label">Hint</label>
            <div class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Name">
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="column is-3">
            <label class="label">Tipo</label>
            <div class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Name">
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="column is-3">
            <label class="label">&nbsp;</label>
            <div class="control is-expanded has-icons-left">
                <label class="checkbox">
                    <input type="checkbox">
                    Este campo é obrigatório
                </label>
            </div>
        </div>
    </div>
</fieldset>