<section class="section">
  <div class="container">
    <h1 class="title">Form Workflow</h1>
    <h2 class="subtitle">
      A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
    </h2>

    {{ form.value.alias }}

    <form [ngClass]="{ 'hasSubmmited': hasSubmmited }" [formGroup]="form" (ngSubmit)="submitForm(form)">
        <div class="columns">
            <div class="column is-6">
                <app-fields-input-text
                    label="Nome do Agrupamento"
                    placeholder=""
                    formControlName="alias">
                </app-fields-input-text>
            </div>
            <div class="column">
                <app-fields-input-text
                    label="Ícone"
                    placeholder=""
                    formControlName="icon">
                </app-fields-input-text>
            </div>
        </div>
        <div class="columns">
             <div class="column is-6">
                <app-fields-input-text
                    label="Description"
                    placeholder=""
                    formControlName="description">
                </app-fields-input-text>
            </div>
            <div class="column">
                <app-fields-input-text
                    label="Dica"
                    placeholder=""
                    formControlName="hint">
                </app-fields-input-text>
            </div>
        </div>

        <div formGroupName="metadata">
            <h2 class="subtitle">Configuração dos Metadados(entradas/saídas)</h2>

            <app-card-metadata title="Meus Valores de Entrada" *ngIf="inputs.controls.length > 0">
                <app-metadata
                    [parent]="inputs"
                    (add)="add(inputs)"
                    (remove)="remove(inputs, $event)">
                </app-metadata>
            </app-card-metadata>

            <app-card-metadata title="Meus Valores de Saída" *ngIf="outputs.controls.length > 0">
                <app-metadata
                    [parent]="outputs"
                    (add)="add(outputs)"
                    (remove)="remove(outputs, $event)">
                </app-metadata>
            </app-card-metadata>
        </div>

        <button type="submit">ENVIAR</button>
    </form>
  </div>
</section>
<pre>{{ form.value | json }}</pre>
<pre>
    {{ form.valid | json }}
</pre>